<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
   xmlns:gap = "http://phonegap.com/ns/1.0"
   xmlns:android = "http://schemas.android.com/apk/res/android"
   id = "com.phonegap.budayajatim" 
   version = "1.0.0">
   <name>Kebudayaan Jawa Timur</name>  
   <description>

   </description>
   <author href="" email="support@phonegap.com">
   </author>

   <preference name="permissions" value="none"/>
   <preference name="phonegap-version" value="3.7.0" /> 
   <preference name="orientation" value="portrait" />
   <preference name="target-device" value="universal" />
   <preference name="android-minSdkVersion" value="7" />
   <preference name="android-installLocation" value="auto" />
   <preference name="fullscreen" value="true" />
   
   <preference name="SplashScreen" value="splash" /> 
   <preference name="SplashScreenDelay" value="4000" /> 

   <gap:plugin name="org.apache.cordova.battery-status" />
   <gap:plugin name="org.apache.cordova.camera" />
   <gap:plugin name="org.apache.cordova.media-capture" />
   <gap:plugin name="org.apache.cordova.console" />
   <gap:plugin name="org.apache.cordova.contacts" />
   <gap:plugin name="org.apache.cordova.device" />
   <gap:plugin name="org.apache.cordova.device-motion" />
   <gap:plugin name="org.apache.cordova.device-orientation" />
   <gap:plugin name="org.apache.cordova.dialogs" />
   <gap:plugin name="org.apache.cordova.file" />
   <gap:plugin name="org.apache.cordova.file-transfer" />
   <gap:plugin name="org.apache.cordova.geolocation" />
   <gap:plugin name="org.apache.cordova.globalization" />
   <gap:plugin name="org.apache.cordova.inappbrowser" />
   <gap:plugin name="org.apache.cordova.media" />
   <gap:plugin name="org.apache.cordova.network-information" />
   <gap:plugin name="org.apache.cordova.splashscreen" />
   <gap:plugin name="org.apache.cordova.vibration" />
   <gap:config-file platform="android" parent="/manifest">
        <supports-screens 
            android:xlargeScreens="true" 
            android:largeScreens="true" 
            android:smallScreens="true" />
        <application android:theme="@android:style/Theme.NoTitleBar" >
            <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            </activity>
        </application>
    </gap:config-file>
  

<icon src="images/logo.png" />
<icon src="images/logo.png" gap:platform="android" gap:qualifier="ldpi" />
<icon src="images/logo.png" gap:platform="android" gap:qualifier="mdpi" />
<icon src="images/logo2.png" gap:platform="android" gap:qualifier="hdpi" />
<icon src="images/logo2.png" gap:platform="android" gap:qualifier="xhdpi" />

<gap:splash src="images/screen.jpg" gap:platform="android" gap:qualifier="port-ldpi" />
<gap:splash src="images/screen.jpg" gap:platform="android" gap:qualifier="port-mdpi" />
<gap:splash src="images/screen.jpg" gap:platform="android" gap:qualifier="port-hdpi" />
<gap:splash src="images/screen.jpg" gap:platform="android" gap:qualifier="port-xhdpi" />

  
   <access origin="*"/>
</widget>